.WeatherInfo {
  margin-top: 25px;
}

h3 {
  font-family: "Lobster", cursive;
  font-size: 28px;
  margin-top: 10px;
}

h4 {
  font-size: 18px;
}

li {
  line-height: 2;
}

ul {
  list-style: none;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-left: 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(46, 56, 82, 0.322);
  transform: rotate(-1.5deg);
}

.search-bar {
  margin-bottom: 25px;
}

canvas {
  display: block;
  margin: 0 auto;
  padding: 0px;
}

form-control {
  padding: 10px;
  font: 12px sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  border-color: black;
}

.searchButton {
  border-radius: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.searchButton:hover {
  background-color: whitesmoke;
  border: 1px solid #333;
}
